label {
	font-size: 24px;
	margin-top: 20px;
}

input[type='text'],input[type='email'], textarea, input[type='submit'] {
	width: 60%;
	font-size: 18px;
}

input[type='text'],input[type='email'] {
	height: 29px;
}

input[type='submit'] {
	background: #3398CC;
	color: #fff;
	border: 0;
	height: 36px;
}
input[type='submit']:hover {
	background: #73AFCC;
}