body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: url(../images/logo_x_pattern.png);

  //background: url(../images/redox_01.png);

  //background: url(../images/white_wall_hash.png);

  background: url(../images/blackboard1.png);
  

  font-family: 'Cousine';
}

.row-with-padding {
	padding-top: 60px;
}

.navbar {
  margin-bottom: 20px;
  background: #000;
  border-radius: 0;
}

.main {
	background: #EA212D;
	color: #fff;
	padding: 2em;

	background: #fff;
	color: #000;
}

.twitter {
	padding: 2em;
	margin: 1.5em 0;
	background: #fff;
}

.side {
	background: #FEC832;
	padding: 2em;
	margin: 1.5em 0;
	color: #fff;
}

.side:first-of-type {
	margin-top: 0;
};

.side:nth-of-type(2) {
	background: #653366;
}

.side:nth-of-type(even) {
	/*background: #2DB051;

	background: #fff;*/
};