.navbar {
	border: 0;
	font-weight: bold;
	font-size: 18px;
	color: #fff;
	margin: 30px 0;
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
}

.navbar .navbar-nav > .active > a {
	background: #fff;
	color: #000;
}

.navbar li:hover {
	background: #eee;
}