form input, form textarea {
	color: #000;
}

h1 {
	font-size: 1.4em;
	line-height: 1.5em;
	margin-top: 2em;
	margin-bottom: 2em;
}

h2 {
	font-size: 1.7em;
}

h1:first-of-type, h2:first-of-type {
	margin-top: 0;
}

ul.statistics {
	margin-bottom: 2em;
}

.main ul li {
	margin: 1em 0;
}

p {
	margin-top: 1.5em;
	line-height: 1.6em;
}

p:first-of-type {
	margin-top: 0;
}

.testimonials h2 {
	margin-bottom: 2em;
}

.required {
	color: red;
}